[Desktop Entry]
Type=Application
Name=LASH
Exec=lash
Icon=lash
Comment=Modern High-Performance Hash Lookup
Categories=Utility;Security;
Terminal=false
